.ButtonSort {
  position: relative;
  color: #0467ae;
  border: none;
  background: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
}

.ButtonSort__content {
  text-decoration: underline;
}

.ButtonSort[data-sortby='asc']::after,
.ButtonSort[data-sortby='dsc']::after {
  content: 'asd';
  text-decoration: none;
}

.ButtonSort:hover {
  background: transparent;
  color: #535bf2;
}
