.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    color: var(--button-color, white);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.6;
    border-radius: 6px;
    background-color: var(--button-background-color, white);

}

.Button:hover {
    background-color: var(--button-background-color--hover, white);
}

.Button.active {
    --button-background-color: #d5d5d5;
}

.Button__default {
    --button-background-color: #3C8046;
    --button-background-color--hover: #295E11;
}

.Button__outline {
    --button-color: #242424;
    --button-background-color--hover: #f5f5f5;

    border: 1px solid #888888;
}