.InputField {
    position: relative;
}

.Input {
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #d3d3d3;
    padding: 6px 14px;
    border-radius: 6px;
    background-color: white;
    width: 100%;
    transition: border-color 0.2s ease-in-out;
    outline: none;
}

.Input::placeholder {
    color: #888888;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.Input:hover {
    border-color: #888888;
}

.Input:focus {
    border-color: #888888;
}

.Input:focus::placeholder {
    opacity: 0;
}

.Input:read-only {
    background-color: #efefef;
}

.InputError {
    position: absolute;
    font-size: 12px;
    color: #da4545;
    display: none;
}

.Input:invalid[focused="true"] {
    border-color: #da4545;
}

.Input:invalid[focused="true"] ~ .InputError {
    display: flex;
}