*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  scrollbar-gutter: stable;
}

#root {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding:0 1rem 2rem;
}

.call-todo-app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  padding: 32px 0;
}

.call-todo-app__main {
  display: grid;
  gap: 32px;
}

.app-section {
  padding: 0.5rem 1rem;
  border: 1px solid darkgray;
  border-radius: 8px;
}

.app-section--nextcall {
  padding-bottom: 2rem;
}

.app-section__header,
.section__header
{
  margin-bottom: 1rem;
}

.app-section__title,
.section__title{
  font-size: 20px;
  line-height: 1.65;
  margin-bottom: 0;
}

.call-todo-form {
  display: grid;
  gap: 1.5rem;
}

.call-todo-form__body {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 120px;
}

.call-todo-form__footer{
  display: flex;
  justify-content: flex-end;
}

.table {
  --table-header-bg-color: #efefef;
  --table-body-bg-color: #fafafa;
  --table-boder-color: #e3e3e3;

  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--table-boder-color);
}

.table th,
.table td {
  text-align: left;
  padding: 8px 16px;
}

.table th:not(:last-child),
.table td:not(:last-child) {
  border-right: 1px solid var(--table-boder-color);
}

.table tr:not(:last-child) {
  border-bottom: 1px solid var(--table-boder-color);
}

.table th {
  background-color: var(--table-header-bg-color);
}

.table td {
  background-color: var(--table-body-bg-color);
}

.table-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 0;
}

