#root {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding:0 1rem;
}

.call-todo-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  padding: 2rem 0;
}

.app-section {
  padding: 0.5rem 1rem;
  border: 1px solid darkgray;
  border-radius: 8px;
}

.app-section__header {
  margin-bottom: 1rem;
}

.app-section__title {
  font-size: 20px;
  line-height: 1.65;
  margin-bottom: 0;
}

.add-call {
  display: grid;
  gap: 1.5rem;
}

.add-call__body {
  display: flex;
  gap: 1rem;
}

.add-call__footer{
  display: flex;
  justify-content: flex-end;
}

.form-control {
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #d3d3d3;
  padding: 6px 14px;
  border-radius: 6px;
  background-color: white;
  width: 100%;
  transition: border-color 0.2s ease-in-out;
  outline: none;
}

.form-control::placeholder {
  color: #888888;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.form-control:hover {
  border-color: #888888;
}

.form-control:focus {
  border-color: #888888;
}

.form-control:focus::placeholder {
  opacity: 0;
}

